apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: task-create-pr
spec:
  workspaces:
  - name: source
  params:
  - name: title
    type: string
    description: PR Title
  - name: body
    type: string
    default: ""
    description: The body of the PR request
  - name: branch
    type: string
  - name: gitea_server
    type: string
  - name: repo
    type: string
  - name: repo_owner
    type: string
  - name: git_secret
    type: string
    default: gitea
    description: "The name of the secret that has your gitea username and token"
  steps:
    - name: run-commands
      image: registry.access.redhat.com/ubi8-minimal:8.8
      script: |
        #!/usr/bin/env bash

        auth=$(echo -n "$USERNAME:$PASSWORD" | base64 -w 0)

        curl --location 'https://$(params.gitea_server)/api/v1/repos/$(params.repo_owner)/$(params.repo)/pulls' \
        --header 'Content-Type: application/json' \
        --header 'Authorization: Basic $auth' \
        --data '{
          "assignee": "user1",
          "base": "rhdp",
          "body": "$(params.body)",
          "head": "$(params.branch)",
          "title": "$(params.title)"
        }'

      workingDir: $(workspaces.source.path)/git-update-digest-workdir
      env:
        - name: PASSWORD
          valueFrom:
            secretKeyRef:
              name: $(params.git_secret)
              key: password
        - name: USERNAME
          valueFrom:
            secretKeyRef:
              name: $(params.git_secret)
              key: username
        - name: EMAIL
          valueFrom:
            secretKeyRef:
              name: $(params.git_secret)
              key: email