resources:
- github.com/redhat-cop/gitops-catalog/ansible-automation-platform/instance/overlays/default

patches:
  - patch: |-
      - op: replace
        path: /spec/href
        value: "https://controller-ansible-automation-platform.${SUB_DOMAIN}"
    target:
      kind: ConsoleLink
      name: controller